@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Mukta', sans-serif;
  background: #F6F6FF;
}

a {
  text-decoration: none;
}
button {
  font-family: 'Mukta', sans-serif;
}
.justify-content-between {
  justify-content: space-between;
}
.mb-4 {
  margin-bottom: 2rem;
}
.half {
  width: 48%;
}
.justify-content-end {
  justify-content: flex-end;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mt-2 {
  margin-top: 0.5rem!important;
}
.col-2 {
  width: 50%;
}
.text-right {
  text-align: right;
}